$white: #ffffff;
$gryLight: #868484;
$btn: rgb(30, 110, 110);
$btnHover: rgb(19, 73, 73);
$btnAdmin: #64dd17;
$btnAdminHover: #4fa21b;
$btnAdminText: #ffffff;
$footer-background-color: rgb(29, 27, 27);
$footer-text-color: #ffffff;
$articlesBgText: #ffffff;
$articlesBgTextHover: #ffffff;
$color-primary: #52c7b8;